.mi-iframe {
    position: absolute;
    width: 60%; /* Ajusta el ancho */
    height: 100%; /* Ajusta la altura */
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%); /* Ajusta el centro */
}

body {
    margin: 0;
    padding: 0;
    background-image: url(Curriculum.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    background-position-y: 5.6%;
    background-position-x: 0;
}


